/* CSS styles */

*{margin: 0; padding: 0}

// Mixins

@mixin arrow_chitt_before(){
	content: " ";
	position: relative;
	top: 97px;
	width: 0;
	height: 0;
	border: 30px solid;
	border-color: white transparent transparent;
}

@mixin arrow_chitt_after(){
	content: " ";
	position: relative;
	top: 62px;
	left: 33px;
	height: 0;
	width: 0;
	border: 27px solid;
	border-color: #7FD4BC transparent transparent;
}


// Fonts

@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

// General styles

*{font-family: 'Open Sans Condensed', sans-serif;}

html { background: url(images/back.png) }

h1{font-family: 'Indie Flower', cursive;}

// Styles

header{
	width: 97%;
	margin: 0 auto;
	background: rgba(247,143,10,0.7);
	padding: 20px;
	box-shadow: 0px 2px 5px;

	div{
		width: 40%;
		margin: 0 auto;

		h1{
			position: absolute;
			top: -5px;
			font-size: 60px;
			letter-spacing: 10px;
			color: #7FD4BC;
      text-shadow: 1px 1px 0px white;
		}

		.nav_links{

			a{
				text-decoration: none;
				font-size: 20px;
				border: 2px solid #7FD4BC;
				color: white;
				padding: 4px 10px;
				border-radius: 5px;

				&:first-child{
					margin-left: 50%;
				}

				&:last-child{
					float: right;
					position: relative;
					top: -5px;
					right: 30px;
				}

				&:hover{
					background: #7FD4BC;
					color: white;
					border-color: white;
				}
			}
		}
	}
}

.wrapper{

	width: 40%;
	margin: 0 auto;

	.chitters{
		margin-top: 5%;

		.chitt{
			border: 2px solid white;
			background: #7FD4BC;
			color: white;
			padding: 5px;
			font-size: 22px;
			letter-spacing: 3px;
			border-radius: 40px;
			margin: 10% 0;

			img{
				width: 50px;
				border: 2px solid;
				padding: 10px;
				border-radius: 50px;
				box-shadow: -1px -1px 2px black;
				position: relative;
				right: 45px;
				top: 15px;
			}

			ul{
				float: right;
				position: relative;
				top: -80px;
				width: 450px;

				li{
					list-style: none;
				}


				.info_user{
					color: #F78F0A;
					text-shadow: 1px 1px white;
					font-size: 30px;
					position: relative;
					top: -15px;
				}

				.info_chit span{
					position: relative;
					top: 37px;
				}
			}
		}

		.chitt:nth-child(even){

			&:before{ @include arrow_chitt_before(); left: 30px }

			&:after{ @include arrow_chitt_after() }
		}

		.chitt:nth-child(odd){
			
			&:before{ @include arrow_chitt_before(); left: 440px }

			&:after{ @include arrow_chitt_after(); left: 443px }

		}
	}
}




















