<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chitter</title>
</head>
<body>
	
	<% if current_user %>
		
		<h1> Welcome to Chitter <%=current_user.email%> </h1>

	<% end %>


	<% if flash[:errors] && !flash[:errors].empty? %>

		<p>Sorry, there were the following problems with the form</p>

		<ul class="errors">
			
			<% flash[:errors].each do |error| %>	

			<li> <%= error %> </li>
			<% end %>

		</ul>
	<% end %>

	<%= yield %>

</body>
</html>