<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chitter</title>
</head>
<body>
	
	<% if current_user %>
		
		<h1> Welcome to Chitter <%=current_user.email%> </h1>

	<% end %>


	<% if flash[:notice] %>
		<div class="notice"> <%= flash[:notice] %> </div>
	<% end %>

	<%= yield %>

</body>
</html>