<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chitter</title>
</head>
<body>
	
	<% if current_user %>
		
		<h1> Welcome to Chitter <%= current_user.email %> </h1>

	<% end %>

	<%= yield %>

</body>
</html>