<section class="new_session">
	<form action="/session/new_session" method="post">
		<input type="text"     name="user_name"             placeholder="User Name">
		<input type="password" name="password"              placeholder="Password">

		<button type="submit">Welcome</button>
	</form>
</section>

