<section class="errors_box">
	<% if flash[:errors] && !flash[:errors].empty? %>
	  <p>Sorry, there were the following problems with the form</p>
	  <ul class="messages errors">
	    <% flash[:errors].each do |error| %>
	      <li><%= error %></li>
	    <% end %>
	  </ul>
	<% end %>

	<% if flash[:notice]  %>
		<ul class="messages">
			<% flash[:notice].each do | notice | %>
		    <li> <%= notice %> </li>
			<% end %>
		</ul>
	<% end %>
</section>