<% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were the following problems with the form.
  <ul id="errors">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<section>
	<form action="/user/new_user" method="post">
		<input type="text"      name="email"                 placeholder="Email">
		<input type="password"  name="password"              placeholder="Password">
		<input type="password"  name="password_confirmation" placeholder="Confirm Password">
		<input type="text"      name="name"                  placeholder="Name">
		<input type="text"      name="user_name"             placeholder="User Name">

		<button type="submit">Save Chiter</button>
	</form>
</section>