
<h1>Welcome <%= @user.user_name %></h1>
<%= @user.name %>
<%= @user.password %>
<%= @user.email %>

<form action="/user/profile" method="post">
	
	<input type="hidden" method="_delete">
	<button type="submit">Sign Out</button>
</form>

