/* CSS styles */
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
* {
  margin: 0;
  padding: 0; }

* {
  font-family: 'Open Sans Condensed', sans-serif; }

html {
  background: url(images/back.png); }

h1 {
  font-family: 'Indie Flower', cursive; }

header {
  width: 97%;
  margin: 0 auto;
  background: rgba(247, 143, 10, 0.7);
  padding: 20px;
  box-shadow: 0px 2px 5px; }
  header div {
    width: 750px;
    margin: 0 auto; }
    header div h1 {
      position: absolute;
      top: -5px;
      font-size: 60px;
      letter-spacing: 10px;
      color: #7FD4BC;
      text-shadow: 1px 1px 0px white; }
    header div .nav_links a {
      text-decoration: none;
      font-size: 20px;
      border: 2px solid #7FD4BC;
      color: white;
      padding: 4px 10px;
      border-radius: 5px; }
      header div .nav_links a:first-child {
        margin-left: 50%; }
      header div .nav_links a:last-child {
        float: right;
        position: relative;
        top: -5px;
        right: 30px; }
      header div .nav_links a:hover {
        background: #7FD4BC;
        color: white;
        border-color: white; }

.wrapper {
  width: 750px;
  margin: 0 auto; }
  .wrapper .chitters {
    margin-top: 5%; }
    .wrapper .chitters .chitt {
      border: 2px solid white;
      background: #7FD4BC;
      color: white;
      padding: 25px;
      font-size: 22px;
      letter-spacing: 3px;
      border-radius: 40px;
      margin: 10% 0; }
      .wrapper .chitters .chitt img {
        float: left;
        width: 50px;
        border: 2px solid;
        padding: 10px;
        border-radius: 50px;
        box-shadow: -1px -1px 2px black;
        position: relative;
        top: -10px;
        right: 10px; }
      .wrapper .chitters .chitt ul li {
        list-style: none; }
      .wrapper .chitters .chitt ul .info_user {
        color: #F78F0A;
        text-shadow: 1px 1px white;
        font-size: 25px;
        position: relative;
        top: -65px;
        border: 3px solid white;
        width: 480px;
        margin: 0 auto;
        border-radius: 6px;
        background: #7FD4BC;
        text-align: center; }
      .wrapper .chitters .chitt ul .info_chit {
        position: relative;
        top: -60px; }

.new_user,
.new_session,
.profile {
  margin: 50px 0; }
  .new_user form,
  .new_session form,
  .profile form {
    width: 500px;
    margin: 0 auto; }
    .new_user form input,
    .new_session form input,
    .profile form input {
      margin: 15px auto;
      height: 30px;
      width: 200px;
      font-size: 20px;
      padding: 3px; }
      .new_user form input:focus,
      .new_session form input:focus,
      .profile form input:focus {
        outline: none !important;
        border: 1px solid #7FD4BC;
        box-shadow: 0 0 10px #7FD4BC;
        color: #7FD4BC; }
    .new_user form button,
    .new_session form button,
    .profile form button {
      font-size: 20px;
      border: 2px solid #7FD4BC;
      color: #7FD4BC;
      padding: 4px 10px;
      text-shadow: 0px 1px black;
      border-radius: 5px;
      background: whitesmoke;
      font-weight: 400;
      margin-left: 50px;
      cursor: pointer; }
      .new_user form button:hover,
      .new_session form button:hover,
      .profile form button:hover {
        background: #7FD4BC;
        color: white;
        border-color: white; }

.new_session form button {
  margin-left: 170px; }

.profile .nav_profile {
  position: relative;
  top: -10px; }
  .profile .nav_profile h1 {
    color: #7FD4BC;
    font-size: 30px;
    text-shadow: 1px 1px black;
    letter-spacing: 4px; }
  .profile .nav_profile button {
    float: right;
    position: relative;
    top: -30px; }
.profile textarea {
  border: 1px solid #7FD4BC;
  font-size: 18px; }
  .profile textarea:focus {
    outline: none !important;
    box-shadow: 0 0 10px #7FD4BC; }

.errors_box {
  width: 430px;
  margin: 0 auto; }
  .errors_box p {
    margin-top: 25px;
    font-size: 20px;
    color: #951102; }
  .errors_box ul {
    list-style: none; }
  .errors_box .messages li {
    border: 3px solid white;
    width: 400px;
    font-size: 20px;
    text-align: center;
    background: #951102;
    color: white;
    padding: 2px;
    border-radius: 25px;
    box-shadow: 1px 1px 14px black;
    margin: 5% 0; }

/*# sourceMappingURL=style.css.map */
