

<h1>Welcome to Chiter</h1>

<a href="/user/new_user">Sign Up</a>
<a href="/session/new">Sign In</a>

<% @chiters.each do | chit | %>
	
	<ul>
		<li> <%= chit.content %> <span> <%= chit.at_time %> </span> </li>
	</ul>

<% end %>