

<h1>Welcome to Chitter</h1>

<a href="/user/new_user">Sign Up</a>
<a href="/session/new_session">Sign In</a>

<section class="chitters">
	<% @chitters.each do | chitt | %>
	
		<div class="chitt">
			<ul>
				<li> <%= chitt.name %>    <span> <%= chitt.user_name %> </span> </li>
				<li> <%= chitt.content %> <span> <%= chitt.at_time   %> </span> </li>
			</ul>
		</div>
	<% end %>	

</section>
