<section class="chitters">
	<% @chitters.each do | chitt | %>
	
		<div class="chitt">
			<ul>
				<li class="info_user"> <%= chitt.name %>    <span> <%= chitt.user_name %> </span> </li>
				<li class="info_chit"> <%= chitt.content %> <span> <%= format_time(chitt.at_time)%> </span> </li>
			</ul>
		</div>
	<% end %>	

</section>
