<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chitter</title>

	<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="wrapper">

<section class="errors_box">
	<% if flash[:errors] && !flash[:errors].empty? %>
	  Sorry, there were the following problems with the form.
	  <ul class="messages errors">
	    <% flash[:errors].each do |error| %>
	      <li><%= error %></li>
	    <% end %>
	  </ul>
	<% end %>

	<% if flash[:notice]  %>
		<span class="messages"> <%= flash[:notice] %> </span>
	<% end %>
</section>

	<%= yield %>

</div>

</body>
</html>
