<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chitter</title>

	<link rel="stylesheet" href="/style.css">

	<link rel="shortcut icon" href="http://nuptialbuzz.com/wp-content/uploads/2014/07/Twitter.png">
</head>
<body>

		<%= partial :"partials/header" %>
		
	<div class="wrapper">

		<%= partial :"partials/errors" %>

		<%= yield %>

	</div>

</body>
</html>
